nav{
    background-color: rgb(163, 149, 149);
}
h1 { background-color: antiquewhite;
    text-align: center;
    color: #a04141;
    margin-left: 10rem;
    margin-right: 10rem;
    border-radius: 5px;
}
div{
    text-align: center;
    justify-content: center;
    color: rgb(37, 141, 231);
    
}
.botonEstilo{
    border-radius: 5px;
    background-color: #4c69ea;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 10px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}